.form-sign-up {
    max-width: 560px;
    padding: 15px;
}

.form-sign-up .form-floating:focus-within {
    z-index: 2;
}

.form-sign-up input[type="email"] {
    margin-bottom: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-sign-up input[type="password"] {
    margin-bottom: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
